* {
  /* For layout debugging. */
  /*-fx-border-color: dodgerblue;*/
  /*-fx-border-width: 1;*/
  /*-fx-border-style: solid;*/
}

.topLevelNode {
  -fx-font-family: 'Roboto';
  -fx-font-smoothing-type: gray;
  -fx-text-fill: #333333;
  -fx-font-size: 13;
}

.layout-borders {
  -fx-border-color: dodgerblue;
  -fx-border-width: 1;
  -fx-border-style: solid;
}

#addSoundEffects, #addMusicTrackButton, #addBreakTrackButton, #clearOutputDirectory {
  -fx-padding: 2;
}

#playSoundEffect, #removeSoundEffect {
  -fx-padding: 3;
}

.legend {
  -fx-font-style: italic;
}

.console {
  -fx-font-family: monospace;
  -fx-font-weight: normal;
}

.preferences {

}

.dialogParagraphTitle {
  -fx-font-size: 140%;
  -fx-font-weight: bolder;
  -fx-padding: 15 0 0 0;
}

.dialogParagraphSubTitle {
  -fx-font-size: 110%;
  -fx-font-weight: bolder;
  -fx-padding: 10 0 0 0;
}

.preferencesTitle {
  -fx-font-size: 110%;
  -fx-font-weight: bold;
}

.narrow {
  -fx-font-weight: lighter;
  -fx-text-fill: #666666;
}

.recentChangesBack {
}

.recentChanges {
  -fx-background-color: #c5e1a5;
  -fx-font-family: monospace;
  -fx-padding: 10;
}
