* {
  -fx-font-family: 'Roboto';
  -fx-font-smoothing-type: gray;
  -fx-font-weight: normal;
  -fx-font-style: normal;

  /*-fx-border-color: dodgerblue;*/
  /*-fx-border-width: 1;*/
  /*-fx-border-style: solid;*/
}

.layout-borders {
  -fx-border-color: dodgerblue;
  -fx-border-width: 1;
  -fx-border-style: solid;
}

#addSoundEffects, #addMusicTrackButton, #addBreakTrackButton, #clearOutputDirectory {
  -fx-padding: 2;
}

#playSoundEffect, #removeSoundEffect {
  -fx-padding: 3;
}

.legend {
  -fx-font-style: italic;
}

.debugLog {
  -fx-font-family: monospace;
  -fx-font-weight: normal;
}
